body{
    max-width: 900px; 
    margin: 0;    
}
.banner-img{
    width: 900px;
    height: 300px; 
}
p{
    width: 100px;
}
footer{
    height: 100px;
    text-align: center;
    background-color: aliceblue;
}